/*
font-family: 'Berkshire Swash', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Euphoria Script', cursive;
font-family: 'Ewert', cursive;
font-family: 'Faster One', cursive;
font-family: 'Monoton', cursive;
font-family: 'Parisienne', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Vibur', cursive;
*/
/*
font-family: 'Mulish', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/

#row1 {
  height: 640px;
  width: 1300px;
  position: absolute;
}

#col1 {
  background-color: rgb(105, 118, 212);
}

#col2 {
  background:
    linear-gradient(rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.8)),
    url("images/kovacs-p960x640.jpg");
  background-repeat: no-repeat;
  position: relative;
}

.btn-c {
  padding: 25px 0;
}

.p2 {
  padding-top: 25px;
}

h1 {
  padding: 70px 0 20px;
  font-family: 'Monoton', cursive;
  font-size: 4rem;
  color: #2C003E;
}

.h1p {
  font-family: 'Monoton', cursive;
  font-size: 3rem;
  color: #2C003E;
}

.p2 {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 550;
  font-size: 2.8rem;
  padding-left: 200px;
  color: #595238;
}

.c-p2 {
  padding-top: 280px;
  height: 630px;
}

.ol {
  opacity: 1;
  background-color: rgb(255,182,193);
  color: white;
}
