/*
font-family: 'Berkshire Swash', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Euphoria Script', cursive;
font-family: 'Ewert', cursive;
font-family: 'Faster One', cursive;
font-family: 'Monoton', cursive;
font-family: 'Parisienne', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Vibur', cursive;
*/
body {
  /*background: rgb(105, 118, 212);
  background: linear-gradient(270deg, rgba(105, 118, 212, 0) 72.7%, rgba(98, 136, 175, 1) 71.2%);
  background-repeat: no-repeat;*/
}

#row1 {
  height: 650px;
  width: 1300px;
  /*  background-image: url("images/kovacs-p960x640.jpg");
  background-repeat: no-repeat;
  background-position: right top;*/
  position: absolute;
}

.col2 {
  background: /*url("images/kovacs-p960x640.jpg"),*/
    linear-gradient(rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.8)),
      url("images/kovacs-p960x640.jpg");
  background-repeat: no-repeat;
  /*background-position: right top;
  */
  /*display: block;*/
  position: relative;
}

/*.col2::after {
   background-color: rgba(0, 0, 0, 0.2);
   z-index: 2;
   position: absolute;
}*/

/*.col2>.c-p2) {
  opacity: 1;
}*/
#col1 {
  background-color: rgb(105, 118, 212);
}

.btn-c, .p2 {
  padding: 25px 0;
}

/*.container {
  width: 350px;
  height: 730px;
  background: rgb(105, 118, 212);
  position: absolute;
  padding: 30px 0 20px 0px;
}*/
h1 {
  padding: 90px 0 0;
  font-family: 'Monoton', cursive;
  font-size: 4rem;
  color: #2C003E;
}

.h1p {
  font-family: 'Monoton', cursive;
  font-size: 3rem;
  color: #2C003E;
}

.btn {
  /*/display: inline-block;*/
}

.p2 {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3rem;
  padding-left: 200px;
  text-indent: 5rem;
  color: #595238;
  /*z-index: -1;*/
}

#otosL {
  text-indent: 50px;
}

.c-p2 {
  padding-top: 250px;
  /*position: absolute;*/
  /*background-image: url("images/kovacs-p960x640.jpg");
  background-repeat: no-repeat;
  background-position: right top;*/
}
